{% extends 'auth/base.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Authentication Application</title>
    {% if not user.is_authenticated%}
    <h1>Login First..</h1>
    {% else %}
    <h1>Dashboard</h1>
    <p>Name: {{user.first_name }} {{ user.last_name }}</p>
    <p>Username: {{ user.username }}</p>
    <p>Email: {{ user.email }}</p>

    {% endif %}
</head>
<body>

</body>
</html>
{% endblock %}