{% extends 'auth/base.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Authenticate Application</title>
    <h2 class="text-center">Login</h2>
    <div class="col-md-6 offset-md-3">
        <form method="POST">
            {% csrf_token %}
    <div class="form-group">
    <input type="text" class="form-control" placeholder="Enter Username" name="username">
  </div>
  <div class="form-group">
    <input type="password" class="form-control" placeholder="Enter Password" name="password">
  </div>
  <button type="submit" class="btn btn-secondary">login</button>
        </form>
    </div>
</head>
<body>

</body>
</html>
{% endblock %}